@using ECommerce.data;
@model ECommerce.Models.AdminViewModel
<div class="container">
    <form class="form-addproduct" action="/admin/addproduct" method="POST" enctype="multipart/form-data">
        <div class="well">
            <h2 class="form-signin-heading">Add Product</h2>
            <label for="category">Category</label>
            <select class="form-control" name="categoryId">
                @foreach(Category c in Model.Categories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
            <label for="productname" >Product Name</label>
            <input type="text" id="productname" class="form-control" placeholder="Product Name" name="productname">
            <label for="price" >Price</label>
            <input type="text" id="price" class="form-control" placeholder="Price" name="price">
            <label for="descrition">Description</label>
            <textarea id="description" class="form-control" name="productdescription"></textarea>
            <label for="image">Select Image(s)</label>
            <div class="images">
                <input type="file" class="form-control" name="images[0]" />
            </div>
                <a href="#"id="add-image"class="btn">Upload More</a>
                      
   
            <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
        </div>
    </form>
</div>
@section Scripts
{
<script src="~/Scripts/uplaodImage.js"></script>
}